<nav class="navbar" aria-label="main-navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="'/'">
      <img alt="navbar-logo" src="/assets/header-icon.png" />
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      id="navbarButton"
      [class.is-active]="isActive"
      (click)="toggleNavbar()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu" [class.is-active]="isActive">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="'/'">
        <p>Home</p>
      </a>
      <a class="navbar-item" [routerLink]="'/installation'">
        <p>Installation</p>
      </a>
      <a class="navbar-item" [routerLink]="'/download'">
        <p>Download</p>
      </a>
      <a class="navbar-item" [routerLink]="'/statistic'">
        <p>Statistic</p>
      </a>
      <a class="navbar-item" [routerLink]="'/gallery'">
        <p>Gallery</p>
      </a>
      <a class="navbar-item" [routerLink]="'/contribute'">
        <p>Contribute</p>
      </a>
      <a class="navbar-item" [routerLink]="'/certificate'">
        <p>Certificate</p>
      </a>
      <a class="navbar-item" [routerLink]="'/application'">
        <p>Application</p>
      </a>
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field">
        <input
          id="darkModeSwitch"
          type="checkbox"
          name="darkModeSwitch"
          class="switch"
          (click)="toggleTheme()"
        />
        <label for="darkModeSwitch">Dark mode</label>
      </div>
    </div>
    <div class="navbar-item">
      <div class="column has-background-link has-text-white">
        <p *ngIf="!isAuthenticated">Guest</p>
        <p *ngIf="isAuthenticated">Logged in as {{ username }}</p>
      </div>
    </div>
  </div>
</nav>
