<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">Login</p>
  </div>
</section>

<section class="section">
  @if (getLoginStatus() === true) {
  <div class="has-text-centered has-text-success label">
    <p>You have been logged in</p>
  </div>
  } @else {
  <div class="has-text-centered has-text-danger label">
    <p>You are not logged in yet</p>
    <p>
      This website is protected by a login system using two-way SSL. If you have the login authorization like a
      certificate, you can log in by restarting your browser and revisiting this website.
    </p>
  </div>
  }
</section>
