<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title">Page Not Found</h1>
  </div>
</section>

<section class="section">
  <div class="has-text-centered has-text-danger label">
    <h2>
      <strong>404</strong> | The page you are looking for does not exist!
    </h2>
    <h3>
      Please check the URL or click the button below to be redirected to the
      home page.
    </h3>
    <p>
      <a routerLink="/" class="button is-primary">Go to Home</a>
    </p>
  </div>
</section>
