<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title">Certificate</h1>
  </div>
</section>

<section class="section">
  <div class="mb-5">
    <p>Our certificate installation method is now changed to a standalone application. Please download the installer and
      run it to
      install the certificate.</p>
    <p>You will need to provide the certificate id and password sent by the organization to install the certificate.</p>
    <p>For more information, please contact the organization administrator.</p>
    <p class="has-text-danger label">* Please note that it is only useful when you have authorization to install the
      certificate provided by the organization!</p>
  </div>

  <div class="field">
    <label for="downloadOs" class="label">Select download OS type</label>
    <div class="control">
      <div class="select">
        <select id="downloadOs" [(ngModel)]="selectedOS" (change)="onSelectionChanged()">
          <option value="windows">Windows</option>
          <option value="mac">Mac</option>
          <option value="linux">Linux</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field is-grouped mt-5">
    <div class="control">
      <button [ngClass]="{'button': true, 'is-primary': getisDownloadEnabled(), 'is-danger': !getisDownloadEnabled()}"
        [disabled]="!getisDownloadEnabled()" (click)="onDownloadButtonClicked()">Download</button>
    </div>
  </div>

  @if (hasHashValue() === true) {
  <div class="mt-5">
    <p>The download should start automatically soon.</p>
    <p>SHA256: {{ getHashValue() }}</p>
  </div>
  }
</section>
