<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title">Forbidden</h1>
  </div>
</section>

<section class="section">
  <div class="has-text-centered has-text-danger label">
    <h2>
      <strong>403</strong> | You are not authorized to access this page!
    </h2>
    <h3>
      Please check the URL or click the button below to be redirected to the
      home page.
    </h3>
    <p>
      <a routerLink="/" class="button is-primary">Go to Home</a>
    </p>
  </div>
</section>
