<div class="timeline is-centered">
  @for (data of getTimelineData(); track data.title) {
  @for (item of getObjectKeys(data.timeline); track item) {
  <div class="timeline-item" [ngClass]="{ 'is-info': !data.warning, 'is-warning': data.warning }">
    <div class="timeline-marker" [ngClass]="{ 'is-info': !data.warning, 'is-warning': data.warning }">
    </div>
    <div class="timeline-content">
      <p class="heading">
        {{ item }}
      </p>
      <p>
        <b>
          {{ data.timeline[item] }}
        </b>
      </p>
    </div>
  </div>
  }
  <div class="timeline-item" [ngClass]="{ 'is-info': !data.warning, 'is-warning': data.warning }">
    <header>
      @if (getVersionDuration(data.timeline) > 1 && !data.inProgress) {
      Total Duration in {{ data.title }}: {{ getVersionDuration(data.timeline) }} days
      }
    </header>
  </div>
  <header class="timeline-header">
    <span class="tag is-large" [ngClass]="{ 'is-info': !data.warning, 'is-warning': data.warning }">
      {{ data.title }}
    </span>
  </header>
  }
</div>
