<div class="container">
  <h2 class="title has-text-centered">Server Information</h2>
  <div class="box">
    <p>
      Welcome to the Minecraft Modpack Survival (MMS) server! This server is a survival server with a custom modpack
      that includes a variety of mods to enhance the gameplay experience. The server is semi-private and may open for
      new players to join sometimes. You can check if the application is open through the Application page. The server
      is hosted on a dedicated server in Hong Kong. It is a great place to meet new friends and play Minecraft in a
      friendly community.
    </p>
  </div>
</div>
