<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">home works</p>
  </div>
</section>

<!-- <div *ngFor="let item of timelineData">
  <div *ngIf="item.hasOwnProperty('title')" class="timeline-header">
    <span class="tag is-large" [ngClass]="item.color_mode">{{ item.title }}</span>
  </div>
  <div *ngIf="!item.hasOwnProperty('title')" class="timeline-item" [ngClass]="item.color_mode">
    <div class="timeline-marker" [ngClass]="item.color_mode"></div>
    <div class="timeline-content">
      <p class="heading" [innerHtml]="item.formatted_date"></p>
      <p><b>{{ item.info }}</b></p>
    </div>
  </div>
</div> -->
